.city {
    background-color: @light-blue;

    &__wrapper {
        margin: 0 18px;

        color: #ffffff;
    }

    &__title {
        font-size: 18px;

        margin: 0;
        padding: 0;
    }

    &__description {
        margin: 0;
        padding: 0;
    }

    &__list {
        margin: 0;
        padding: 0;

        list-style-type: none;
        background-color: #ffffff;
    }
}


@media (min-width: @tablet-width) {
    .city {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 256px 330px;

        &__list {
            grid-column: 1 / -1;

            display: flex;
        }
    }
}


