.feedback-form {
    &__title {
        font-size: 18px;
    }

    &__group {
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;

        border: none;
    }

    &__label {
        font-weight: 400;
        font-size: 14px;
    }

    &__radio-label {
        font-weight: 700;
        font-size: 18px;
        text-transform: capitalize;
    }

    &__checkbox-label {
        font-weight: 700;
        font-size: 18px;
        text-transform: capitalize;
    }
}
