.food {
  margin: 0 21px;
  padding-left: 48px;
  font-size: 18px;
  line-height: 26px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;

  &__title {
    font-size: 18px;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 14px;
  }

  &__description {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
  }
}

@media (min-width: @tablet-width) {
  .food {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 63px;
    padding-top: 95px;
    background-position: top center;
    background-size: 76px 69px;

    &__title {
      font-size: 21px;
      padding: 0;
      margin: 0;
      margin-bottom: 23px;
    }

    &__description {
      width: 80%;
      font-size: 14px;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
}

@media (min-width: @desktop-width) {
  .food {
    &__description {
      width: 95%;
    }
  }
}
