@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff");
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff") format("woff");
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  text-align: center;

  color: #000000;
  background-color: #ffffff;
}

body {
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.page-main {
  width: 100%;
}

html {
  background-color: #e7e5e5;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
