html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  text-align: center;

  color: #000000;
  background-color: #ffffff;
}

body {
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.page-main {
  width: 100%;
}

html {
  background-color: #e7e5e5;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
