.hotel-form {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 49px;

    &__title {
        font-size: 21px;

        margin: 0;
        padding: 0;
        margin-bottom: 21px;
        padding-top: 2px;
    }

    &__description {
        margin: 0;
        padding: 0;
        margin-bottom: 28px;
        max-width: 435px;

        line-height: 24px;
    }

    &__button {
        font-family: inherit;
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        cursor: pointer;

        width: 97%;
        min-height: 58px;
        margin: 0;
        padding: 14px;

        border: none;

        background-color: @light-blue;
    }

    &__button:hover {
        background-color: darken(@light-blue, 20%);
    }

    &__button:active {
        background-color: darken(@light-blue, 30%);
        color: fade(#ffffff, 30%);
    }

    &__button:disabled {
        background-color: @light-grey;
    }
}

@media (min-width: @tablet-width) {
    .hotel-form {
        max-width: 472px;

        padding-top: 22px;
        padding-bottom: 10px;

        &__title {
            font-size: 30px;
            padding-bottom: 13px;
        }

        &__description {
            margin: 0 auto;
            margin-bottom: 38px;
        }

        &__description span {
            display: block;
        }
    }
}


@media (min-width: @desktop-width) {
    .hotel-form {
        padding-bottom: 17px;

        &__description {
            margin: 0 auto;
            margin-bottom: 43px;
        }
    }
}
