.intro {
    padding: 90px 0 85px 0;

    &__title {
        font-size: 18px;
    }

    &__bg-wrapper {
        background-color: @intro-background;
        background-image: url("../img/back-intro.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }

    &__wrapper {
        background-color: #ffffff;
    }

    &__image {
        margin: 0 auto;
    }
}
