.intro {

    margin-bottom: 32px;
    background-color: @intro-background;
    background-image: url("../img/back-intro.jpg");
    background-repeat: no-repeat;
    background-position: top center;


    &__title {
        font-size: 18px;
    }

    &__bg-wrapper {
        min-height: 389px;

        background-image: url(../img/intro-triangle.svg);
        background-repeat: no-repeat;
        background-position: bottom center;
    }

    &__wrapper {
        background-color: #ffffff;
    }

    &__image {
        margin: 0 auto;
        margin-top: 90px;
    }
}

@media (min-width: @tablet-width) {
    .intro {
        &__bg-wrapper {
            min-height: 518px;
        }

        &__image {
            margin: 0 auto;
            margin-top: 77px;
        }
    }
}
