.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 56px;


    margin-bottom: 0;
    width: 100%;

    &__logo-link {
        position: absolute;
        width: 198px;
        height: 129px;
    }

    &__logo-image {
        padding: 45px;
        padding-top: 0;
    }

    &__nav {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    &__list {
        margin: 0;
        padding: 0;

        list-style-type: none;
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);

        z-index: 1;
    }

    &__item a {
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 40px;
        text-transform: uppercase;
        padding: 10px 80px;

        cursor: pointer;
        text-decoration: none;

        border-top: 1px solid lighten(@light-blue, 10%);
        border-bottom: 1px solid darken(@light-blue, 10%);;
        color: #ffffff;
        background-color: @light-blue;
    }

    &__toggle {
        position: absolute;
        top: 0;
        right: 0;

        width: 63px;
        height: 56px;
        padding: 0;
        margin: 0;

        border: none;
        background-color: inherit;
        cursor: pointer;
    }

    &__nav--closed &__toggle::before {
        content: "";
        position: absolute;
        top: 17px;
        right: 20px;
        width: 23px;
        height: 4px;

        background-color: @light-blue;
        box-shadow: 0 9px 0 0 @light-blue, 0 17px 0 0 @light-blue;
    }

    &__nav--closed &__toggle:active::before {
        background-color: fade(@light-blue, 60%);
        box-shadow: 0 9px 0 0 fade(@light-blue, 60%), 0 17px 0 0 fade(@light-blue, 60%);
    }

    &__nav--closed &__list {
        display: none;
    }


    &__nav--opened &__toggle {
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 27px;
            right: 20px;
            width: 32px;
            height: 4px;
            background-color: #ffffff;
        }

        &::before {
            transform: rotate(45deg);
            box-shadow: none;
        }

        &::after {
            transform: rotate(-45deg);
        }

        &:active::before,
        &:active::after {
            background-color: fade(#ffffff, 60%);
        }
    }
}



@media (min-width: @tablet-width) {
    .page-header {
        &__toggle {
            display: none;
        }

        &__nav--closed &__list,
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            margin-top: 16px;
            min-height: 56px;

            z-index: 0;
        }


        &__item a {
            line-height: 26px;
            padding: 0;

            text-decoration: none;

            color: #000000;
            background-color: #ffffff;
            border: none;
        }

        &__item--current a {
            color: @current;
        }
    }

    .right-column:nth-child(odd) {
        grid-column: 4 / 5;
    }

    .right-column:nth-child(2n) {
        grid-column: 5 / -1;
    }
}

