.road {
    width: 90%;

    margin: 0 auto;
    padding-bottom: 25px;
    background-color: @light-grey;
    border-bottom: 1px solid darken(@light-grey, 10%);

    &__title {
        font-size: 18px;

        margin: 0;
        padding: 0;
    }

    &__description {
        margin: 0;
        padding: 0;
    }
}


@media (min-width: @tablet-width) {
    .road {
        border: none;
        width: 55%;

        margin: 0;
        padding: 0;
        padding-top: 35px;
        padding-bottom: 39px;

        &__title {
            font-size: 21px;
            margin-bottom: 15px;
        }

        &__description {
            margin-top: 20px;
        }
    }
}

@media (min-width: @desktop-width) {
    .road {
        width: 70%;
    }
}
